<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <title>Centro de Soporte</title>
                <th:block th:replace="~{layout/plantilla :: head}"/>
                <script th:src="@{/js/registro.js}" defer></script>
                </head>
                <body class="body-unlogged">
                    <div class="registro-container">
                        <div class="registro-form">
                            <div class="registro-left">
                                <h1 class="h1-registro">Regístrese</h1>
                                <p class="p-registro">Bienvenido a su Centro de Soporte</p>
                                <div class="registro-illustration"></div>
                                <p class="registro-description">
                                    Regístrese con nosotros para acceder a nuestro servicio de soporte en línea 
                                    y obtener asistencia personalizada por parte de la institución.
                                </p>
                            </div>

                            <div class="registro-right">
                                <div class="municipalidad-logo"></div>
                                <form id="registroForm" th:action="@{/registro/nuevo}" method="post" class="form-elements-registro">
                                    <div class="input-group-registro">
                                        <label for="nombre">Nombre(s)</label>
                                        <input type="text" id="nombre" name="nombre" placeholder="Ingrese su nombre..." required>
                                    </div>

                                    <div class="input-group-registro">
                                        <label for="apellidos">Apellido</label>
                                        <input type="text" id="apellido" name="apellido" placeholder="Ingrese sus apellidos..." required>
                                    </div>

                                    <div class="input-group-registro">
                                        <label for="departamento">Departamento</label>
                                        <select id="departamento" name="departamento" required>
                                            <option th:each="departamento : ${departamentos}" 
                                                    th:value="${departamento.nombre}" 
                                                    th:text="${departamento.nombre}"></option>
                                        </select>
                                    </div>

                                    <div class="input-group-registro">
                                        <label for="email">Correo Electrónico</label>
                                        <input type="email" id="email" name="correoElectronico" 
                                               placeholder="Ingrese su correo institucional..." required>
                                    </div>

                                    <div class="input-group-registro">
                                        <label for="password">Contraseña
                                            <span class="info-icon">
                                                <i class="fas fa-info-circle"></i>
                                                <div class="popover-password-container">
                                                    <div class="popover-password" style="display: none;">
                                                        <div class="popover-password-title">Requisitos de la contraseña</div>
                                                        <div class="popover-password-content">
                                                            <ul>
                                                                <li>Debe contener al menos 8 caracteres para ser valida</li>
                                                                <li>Debe incluir al menos una letra en mayúscula (A–Z)</li>
                                                                <li>Debe incluir al menos una letra en minúscula (a–z)</li>
                                                                <li>Debe incluir al menos un símbolo especial, como: <code>@</code>, <code>$</code>, <code>!</code>, <code>%</code>, <code>*</code>, <code>?</code>, <code>&</code>, etc...</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </span>
                                        </label>
                                        <div class="password-container-register" style="display: flex;">
                                            <input type="password" id="password" name="contrasena" 
                                                   placeholder="Ingrese su contraseña..." required>
                                                <button type="button" id="statusValidationPassword" class="btn btn-outline-secondar">
                                                    <i class="fa-solid fa-minus"></i>
                                                </button>
                                                <button type="button" class="toggle-password" style="width: 6.5%;">
                                                    <i class="fa-solid fa-eye" id="toggleIconPassword"></i>
                                                </button>
                                        </div>
                                    </div>

                                    <div class="input-group-registro">
                                        <label for="confirm-password">Confirmar Contraseña</label>
                                        <div class="password-container-register">
                                            <input type="password" id="confirm-password" name="confirm-password" 
                                                   placeholder="Ingrese nuevamente la contraseña..." required>
                                                <button type="button" id="statusValidationConfirm" class="btn btn-outline-secondar">
                                                    <i class="fa-solid fa-minus"></i>
                                                </button>
                                                <button type="button" class="toggle-password" style="width: 6.5%;">
                                                    <i class="fa-solid fa-eye" id="toggleIconConfirm"></i>
                                                </button>
                                        </div>
                                    </div>

                                    <button type="submit" class="btn-crear-cuenta">Crear Cuenta</button>
                                    <div class="recovery-links">
                                        <a href="/login" class="link-ya-tengo-cuenta">Ya tengo una cuenta</a>
                                    </div>
                                </form>     
                            </div>
                        </div>
                    </div>

                    <!-- Toast de Alerta (Amarillo) -->
                    <div id="toast-warning" class="toast-modal toast-warning">
                        <div class="toast-content">
                            <p class="toast-message">
                                <i class="toast-icon fa-solid fa-triangle-exclamation"></i>
                                <span>"Mensaje genérico..."</span>
                            </p>
                            <span class="toast-close" onclick="closeToast('warning')">
                                <i class="fa-solid fa-xmark"></i>
                            </span>
                        </div>
                    </div>

                    <!-- Toast de Error (Rojo) -->
                    <div id="toast-error" class="toast-modal toast-error">
                        <div class="toast-content">
                            <p class="toast-message">
                                <i class="toast-icon fa-solid fa-triangle-exclamation"></i>
                                <span>"Mensaje genérico..."</span>
                            </p>
                            <span class="toast-close" onclick="closeToast('error')">
                                <i class="fa-solid fa-xmark"></i>
                            </span>
                        </div>
                    </div>

                    <footer>
                        © 2025 Municipalidad de Barva. Todos los derechos reservados.
                    </footer>
                </body>
                </html>