<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Mesa de Ayuda</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="wrapper">
            <!-- Incluye el sidebar -->
            <div th:replace="~{layout/plantilla :: sidebar}"></div>

            <div class="main-content">
                <div th:replace="~{layout/plantilla :: header}"></div>

                <!-- Incluye el navbar -->
                <div th:replace="~{layout/plantilla :: navbar}"></div>

                <!-- Contenido principal -->
                <main class="home-section">
                    <div class="content-wrapper">
                        
                        <!-- Aqui deberian de insertarse los segmnetos encapsulados con la etiqueta <section> -->
                        
                    </div>
                </main>
                
                <footer>
                    © 2025 Municipalidad de Barva. Todos los derechos reservados.
                </footer>
            </div>
        </div>
    </body>
</html>