<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Mesa de Ayuda</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body class="body-login">

        <div class="login-container" id="contenedor">
            <div class="login-form">
                <h1 class="h1-login">Mesa de Ayuda</h1>
                <div class="shield-login"></div>
                <form class="form-elements-login">
                    <div class="input-group-login">
                        <label id="label-login" style="margin-bottom: 8px" for="email">Correo Electrónico</label>
                        <input type="email" id="email" placeholder="Ingrese su correo institucional..." required>
                    </div>
                    <div class="input-group-login">
                        <label id="label-login" style="margin-bottom: 8px" for="password">Contraseña</label>
                        <input type="password" id="password" placeholder="Ingrese su contraseña..." required>
                    </div>
                    <button id="button-login" type="submit" onclick="window.location.href = '/tickets/homePage'">Iniciar Sesión</button>

                    <a href="#" class="forgot-password-login">¿Olvidaste tu contraseña?</a>

                    <button id="button-register" type="submit" onclick="window.location.href = '/tickets/registro'"><i class="fas fa-lock"></i> Registrarme</button>
                    <div class="checkbox-group">
                        <input type="checkbox">
                        <label for="keep-session">Mantener sesión activa</label>
                    </div>
                </form>
            </div>
        </div>
        <footer>
            © 2024 Municipalidad de Barva. Todos los derechos reservados.
        </footer>
    </body>
</html>
