<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Mesa de Ayuda</title>
    </head>
    <th:block th:append="head">
        <link rel="stylesheet" th:href="@{/css/nuevo_ticket_layout_principal.css}">
    </th:block>
    <body>
        <div class="wrapper">
            <!-- Incluye el sidebar -->
            <div th:replace="~{layout/plantilla :: sidebar}"></div>

            <div class="main-content">
                <div th:replace="~{layout/plantilla :: header}"></div>

                <!-- Incluye el navbar -->
                <div th:replace="~{layout/plantilla :: navbar}"></div>

                <!-- Contenido principal -->
                <main class="home-section">
                    <div class="content-wrapper">   
                        <div class="content-container">
                            <div class="main-form">
                                <h1><b>Crear Nuevo Ticket</b> <i class="fas fa-info-circle"></i></h1>
                                <p class="description1">Describe tu situación y te atenderemos lo más pronto posible</p>

                                <form>
                                    <div class="form-group">
                                        <label id="txtLayout">Breve Descripción</label>
                                        <input type="text" class="form-control" placeholder="Ingrese una breve descripción aqui...">
                                            <div class="character-count">0 / 80</div>
                                    </div>

                                    <div class="form-group">
                                        <label for="problemDescription" id="txtLayout">Descripción del Problema</label>
                                        <textarea id="problemDescription" class="form-control" rows="6"></textarea>
                                    </div>

                                    <div class="form-row">
                                        <div class="form-group half">
                                            <label for="category" id="txtLayout">Categoría</label>
                                            <select id="category" class="form-control">
                                                <option>Seleccione una categoría...</option>
                                            </select>
                                        </div>
                                        <div class="form-group half">
                                            <label for="impact" id="txtLayout">Impacto (Opcional)</label>
                                            <select id="impact" class="form-control">
                                                <option>Seleccione un nivel...</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="upload-box">
                                        <i class="fas fa-arrow-up-from-bracket"></i>
                                        <span>Subir Imagen</span>
                                    </div>

                                    <button type="submit" class="btn-submit">
                                        Enviar Ticket <i style="margin-left: 5px;" class="fa-solid fa-paper-plane"></i>
                                    </button>
                                </form>
                            </div>

                            <div class="sidebarContent">
                                <div class="card">
                                    <h2>Tickets Activos</h2>
                                    <div class="ticket-list">
                                        <div class="ticket-item">
                                            <div class="ticket-header">
                                                <span class="ticket-id"><i class="fas fa-ticket"></i>#TIC001</span>
                                                <span class="status-badge">Abierto</span>
                                            </div>
                                            <label id="txtLayout">Problema con el sistema de Facturación</label>
                                            <div class="ticket-details">
                                                <div>Prioridad: <span>Baja</span></div>
                                                <div>Categoría: <span>Hardware</span></div>
                                                <div class="date">23-08-2024</div>
                                            </div>
                                        </div>
                                        <div class="ticket-item">
                                            <div class="ticket-header">
                                                <span class="ticket-id"><i class="fas fa-ticket"></i>#TIC001</span>
                                                <span class="status-badge">Abierto</span>
                                            </div>
                                            <label id="txtLayout">Problema con el sistema de Facturación</label>
                                            <div class="ticket-details">
                                                <div>Prioridad: <span>Baja</span></div>
                                                <div>Categoría: <span>Hardware</span></div>
                                                <div class="date">23-08-2024</div>
                                            </div>
                                        </div>
                                        <div class="ticket-item">
                                            <div class="ticket-header">
                                                <span class="ticket-id"><i class="fas fa-ticket"></i>#TIC001</span>
                                                <span class="status-badge">Abierto</span>
                                            </div>
                                            <label id="txtLayout">Problema con el sistema de Facturación</label>
                                            <div class="ticket-details">
                                                <div>Prioridad: <span>Baja</span></div>
                                                <div>Categoría: <span>Hardware</span></div>
                                                <div class="date">23-08-2024</div>
                                            </div>
                                        </div>
                                        <div class="ticket-item">
                                            <div class="ticket-header">
                                                <span class="ticket-id"><i class="fas fa-ticket"></i>#TIC001</span>
                                                <span class="status-badge">Abierto</span>
                                            </div>
                                            <label id="txtLayout">Problema con el sistema de Facturación</label>
                                            <div class="ticket-details">
                                                <div>Prioridad: <span>Baja</span></div>
                                                <div>Categoría: <span>Hardware</span></div>
                                                <div class="date">23-08-2024</div>
                                            </div>
                                        </div>
                                        <!-- Additional ticket items can be added here -->

                                    </div>
                                </div>

                                <div class="card">
                                    <h2>Información de Contacto</h2>
                                    <p class="description2">Recuerde mantener sus datos actualizados para lograr ayudarle con su solicitud.</p>
                                    <div class="contact-info">
                                        <div class="form-group">
                                            <label id="txtLayout">Nombre Completo</label>
                                            <input id="txtInput" class="form-control" type="text" value="Brians Fernando Vargas Camacho" readonly>
                                        </div>
                                        <div class="form-group">
                                            <label id="txtLayout">Número de Teléfono</label>
                                            <input id="txtInput" class="form-control" type="tel" value="+506 82635283" readonly>
                                        </div>
                                        <div class="form-group">
                                            <label id="txtLayout">Correo Electrónico</label>
                                            <input id="txtInput" class="form-control" type="email" value="usuario@munibarva.go.cr" readonly>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </body>
</html>