<!DOCTYPE html>
<html lang="es">
<head th:replace="~{layout/plantilla :: head}">
        <title>Mesa de Ayuda</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
<body class="verification-body">
    <div class="verification-container">
        <div class="verification-form">
            <button class="close-button" onclick="window.location.href = '/tickets/registro'">×</button>
            <h1 class="verification-title">Ingrese el codigo</h1>
            <p class="verification-subtitle">Acabamos de enviarle un código de verificación a su correo</p>
            <form>
                <input type="text" class="verification-input" placeholder="XXXXXX" maxlength="6" required>
                <button type="submit" class="verification-button">Verificar</button>
            </form>
            <p class="verification-info">Para comprobar su identidad se le solicita ingresar el código de 6 dígitos enviado directamente a su correo institucional.</p>
        </div>
    </div>
    <footer class="verification-footer">
        © 2024 Municipalidad de Barva. Todos los derechos reservados.
    </footer>
</body>
</html>