/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Oct 4, 2024, 1:25:37 PM
    Author     : ferva
*/


#Title {
    margin-bottom: 20px;
    font-size: 30px;
    color: #3a3a3a;
}


/* //////////////////// Panel Login //////////////////// */

.body-login {
    background-image: url("../img/loginBackground.webp");
    background-size: cover;
    background-position: center;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.login-form {
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 520px;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 30px;
}

.h1-login {
    color: #333;
    margin-bottom: 1rem;
    font-weight: 600;
}

.shield-login {
    background-image: url('../img/escudo-barva.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100px;
    height: 100px;
    margin: 0 auto 1rem;
}

.form-elements-login {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input-group-login {
    text-align: left;
}

#password, #email {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    padding: 0.45rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#label-login {
    display: block;
    margin-bottom: 0.25rem;
    font-size: 0.9rem;
    color: #666;
}

#button-login {
    font-family: 'Poppins', sans-serif;
    background-color: #000;
    color: white;
    border: none;
    padding: 0.5rem;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 0.5rem;
}

#button-register {
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 20px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

#button-login:hover {
    background-color: #333;
}

#button-register:hover {
    background-color: #f3f3f3;
}

.forgot-password {
    text-align: center;
    margin-top: 1rem;
}

.forgot-password-login {
    display: inline-block;
    color: #666;
    font-size: 0.9rem;
    text-decoration: none;
}

.forgot-password-login:hover {
    color: #007bff;
    text-decoration: underline;
}

.checkbox-group {
    margin-top: 1rem;
    font-size: 0.9rem;
}

@media (max-width: 480px) {
    .login-form {
        padding: 1.5rem;
    }
}



/* //////////////////// Panel Registro //////////////////// */
.body-registro {
    background-image: url("../img/loginBackground.webp");
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.registro-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 12px;
    box-sizing: border-box;
    margin-bottom: 25px;
}

.form-control,
select.form-control, #confirm-password {
    font-family: 'Poppins', sans-serif;
}

.registro-form {
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    width: 100%;
    max-width: 1040px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
}

.registro-left {
    flex: 0.6;
    padding: 25px;
    background-color: #f0f0f0;
    border-radius: 10px 0 0 10px;
}

.registro-right {
    flex: 1;
    padding: 25px;
    border-radius: 0 10px 10px 0;
}

.h1-registro {
    color: #333;
    margin-bottom: 5px;
    font-size: 24px;
}

.p-registro {
    color: #666;
    margin-bottom: 20px;
    font-size: 14px;
}

.registro-illustration {
    background-image: url('../img/customer.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    margin-top: 100px;
}

.registro-description {
    color: #666;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
}

.municipalidad-logo {
    background-image: url('../img/escudo-barva.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right top;
    height: 50px;
    margin-bottom: 5px;
}

.form-elements-registro {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input-group-registro label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-size: 13px;
}

.input-group-registro input,
.input-group-registro select {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 13px;
}

.btn-crear-cuenta {
    font-family: 'Poppins', sans-serif;
    background-color: #000;
    color: white;
    border: none;
    padding: 7px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 15px;
    margin-top: 5px;
    width: 100%;
}

.btn-crear-cuenta:hover {
    background-color: #11214D;
}

.link-ya-tengo-cuenta {
    display: block;
    text-align: center;
    margin-top: 3px;
    color: #666;
    text-decoration: none;
    font-size: 14px;
}

.link-ya-tengo-cuenta:hover {
    color: #007bff;
    text-decoration: underline;
}

@media (max-width: 768px) {
    .registro-container {
        padding: 20px 15px;
    }

    .registro-form {
        flex-direction: column;
        margin: 20px auto;
    }

    .registro-left,
    .registro-right {
        border-radius: 10px;
        padding: 25px;
    }
    
    .registro-illustration{
        margin-top: 0px;
    }
}


/* //////////////////// Panel de Verificacion de Registro //////////////////// */
.verification-body {
    background-image: url("../img/loginBackground.webp");
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.verification-container {
    width: 100%;
    max-width: 860px;
    padding: 20px;
}

.verification-form {
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
}
.verification-form-container {

    padding-top: 0px;
    padding-bottom: 20px;
    padding-left: 70px;
    padding-right: 70px;
}

.close-button {
    position: absolute;
    top: 10px;
    left: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.verification-title {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}

.verification-subtitle {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
    text-align: center;
}

.verification-input {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 15px;
}

.verification-button {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    padding: 10px;
    background-color: #000;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.verification-button:hover {
    background-color: #333;
}

.verification-info {
    font-size: 12px;
    color: #666;
    text-align: center;
    margin-top: 20px;
}

