<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Centro de Soporte</title>
    </head>
    
    <th:block th:append="head">
        <link rel="stylesheet" th:href="@{/css/configuracion_layout_principal.css}">
    </th:block>
    
    <body>
        <div class="wrapper">
            <!-- Incluye el sidebar -->
            <aside th:replace="~{layout/plantilla :: sidebar}"></aside>

            <div class="main-content">
                <div th:replace="~{layout/plantilla :: header}"></div>

                <!-- Incluye el navbar -->
                <div th:replace="~{layout/plantilla :: navbar}"></div>

                <!-- Contenido principal -->
                <main class="home-section">
                    <div class="content-wrapper">
                        
                        <section th:replace="~{usuario/segmentos-perfil :: configuracion-section}"></section>
                        
                    </div>
                </main>
            </div>
        </div>
    </body>
</html>
